.home{
    padding: 20px;
    background-color: aqua;
}
.about{
    padding: 20px;
    background-color: aqua;
}
.contact{
    padding: 20px;
    background-color: aqua;
}
.login{
    padding: 20px;
    background-color: aqua;
}
.signup{
    padding: 20px;
    background-color: aqua;
}